{% extends "base.html" %}
<!-- {% load static %} -->

{% block content %}
        <section class="section">
            <h1 class="title">All questions</h1>
            <div class="content">
            {% if question_list %}
                <ul>
                {% for question in question_list %}
                <li><a href="{% url 'detail' question.id %}">{{ question.question_text|truncatechars:20 }}</a>
                    - Published date: {{question.pub_date|date:"D d, M y"}}</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
            </div>
        </section>
        <section class="section">
            <p class="subtitle">
                Total: {{question_list|length}} questions <!-- ใช้ filter length เพื่อแสดงขนาดของ list question_list -->
            </p>
        </section>
        <section class="section">
            <img src="{% static 'example.png' %}" style="width:20%" alt="My image">
        </section>
{% endblock %}